.header {
  background-color: $dark-bule;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size;
}

.header__title {
  color: #fff;
  text-decoration: none;
  h1 {
      margin: 0;
  }
}